<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular-resource Client</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
    <script>
        var app = angular.module("myApp", ["ngResource"]);
        app.factory("Book", function ($resource, $q) {
            var settings = {};
            var bookResource = $resource(
                    "http://localhost:8080/books/:bookId",
                    {bookId: '@id'}
            );

            settings.get = function(id){
                var deferredObject = $q.defer();
                bookResource.get({bookId: id}).$promise.then(function(result) {
                    deferredObject.resolve(result);
                }, function(errorMsg) {
                    deferredObject.reject(errorMsg);
                });
                return deferredObject.promise;
            }

            return settings;
        });
        app.controller("collectBookData", function($scope, Book, $timeout){
            Book.get('1').then(function( result ) {
                $scope.book = result;
            }, function(error) {
            });;


        });
    </script>
</head>
<body>
<div ng-controller="collectBookData">
    {{book.bookName}}
</div>
</body>
</html>