<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <title>Angular-http Client</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script>
        var app = angular.module("myApp", []);

        app.controller("collectBookData", function($scope, $http) {
            $http.get('http://localhost:8080/bookservice/getbook/book%231').
                    success(function (response) {
//                        $scope.debug = JSON.stringify(data);
                        alert(JSON.stringify(response));
                        $scope.debug = response;
            }).error(function (data, status, headers, config) {
                        console.log(status);
                        console.log(data);
                        console.log(headers);
                        console.log(config);
            });
        });
    </script>
</head>
<body>
<div ng-controller="collectBookData">
    aaaaa
    <p>{{debug.bookName}}</p>
</div>
</body>
</html>